/*
* define all constant here 
*/
$primary-color: #EE3131 !default;
$secondary-color: #FF5F5F !default;
$hovercolor: #EE3131;
$body-color: #626472;
$title-color: #1E1E1E;
$visitedlink: #1E1E1E; 
$placeholder-color: #899097; 
$widget_title_color:#222E3E;
$strock_color: #DFE2E7;
$site_footer_bg: #eaeff1;

$body-font-family: "Rubik", sans-serif !default;      
$menu-font-family: "Rubik", sans-serif !default;
$headings-font-family: "Rubik", sans-serif !default;

$body-font-size: 16px !default;
$body-font-weight: 400 !default;
$body-line-height: 1.6 !default;

$h1-font-size: 60px;
$h2-font-size: 40px;
$h3-font-size: 30px;
$h4-font-size: 24px;
$h5-font-size: 22px;
$h6-font-size: 16px;
$post-font-size: 14px;

$h1-font-weight: 700 !default;
$h2-font-weight: 700 !default;
$h3-font-weight: 700 !default;
$h4-font-weight: 700 !default;
$h5-font-weight: 700 !default;
$h6-font-weight: 700 !default;
$widget-title-weight: 600;
$font-medium-weight: 500;

$h1-line-height: 1.35 !default;
$h2-line-height: 1.2 !default;
$h3-line-height: 1.35 !default;
$h4-line-height: 1.35 !default;
$h5-line-height: 1.35 !default;
$h6-line-height: 1.35 !default;

$color-white: #fff;
$color-black: #000 !default;
$color-read: #FF0000 !default;

$link-transition: all .3s !default;


